version: '3.8'

services:
  web:
    build:
      dockerfile: apps/web/Dockerfile
    ports:
      #- '127.0.0.1:7500:3000'
      - '7500:3000'
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
      - apparmor:unconfined
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s


  storybook:
    build:
      dockerfile: apps/storybook/Dockerfile
    ports:
      #- '127.0.0.1:7501:3000'
      - '7501:3000'
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
      - apparmor:unconfined
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  wms:
    build:
      dockerfile: apps/wms/Dockerfile
    ports:
      #- '127.0.0.1:7502:3000'
      - '7502:3000'
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
      - apparmor:unconfined
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

