@tailwind base;
@tailwind components;
@tailwind utilities;

.input-color > div > div[data-position='right'] {
  right: 0 !important;
}

:root {
  --color-primary-50: 229 242 255;
  --color-primary-100: 184 209 232;
  --color-primary-200: 138 175 210;
  --color-primary-300: 92 141 188;
  --color-primary-400: 46 107 166;
  --color-primary-500: 0 73 144;
  --color-primary-600: 0 61 122;
  --color-primary-700: 0 49 98;
  --color-primary-800: 0 37 74;
  --color-primary-900: 0 25 50;
  --color-primary-950: 0 13 26;
  --color-primary-contrast: 255 255 255;
  --color-primary-surface: 0 73 144;

  --color-slate-50: 248 250 252;
  --color-slate-100: 241 245 249;
  --color-slate-200: 226 232 240;
  --color-slate-300: 203 213 225;
  --color-slate-400: 148 163 184;
  --color-slate-500: 100 116 139;
  --color-slate-600: 71 85 105;
  --color-slate-700: 51 65 85;
  --color-slate-800: 30 41 59;
  --color-slate-900: 15 23 42;
  --color-slate-950: 2 6 23;
  --color-slate-contrast: 15 23 42;

  --color-gray-50: 249 250 251;
  --color-gray-100: 243 244 246;
  --color-gray-200: 229 231 235;
  --color-gray-300: 209 213 219;
  --color-gray-400: 156 163 175;
  --color-gray-500: 107 114 128;
  --color-gray-600: 75 85 99;
  --color-gray-700: 55 65 81;
  --color-gray-800: 31 41 55;
  --color-gray-900: 17 24 39;
  --color-gray-950: 3 7 18;
  --color-gray-contrast: 17 24 39;

  --color-zinc-50: 250 250 250;
  --color-zinc-100: 244 244 245;
  --color-zinc-200: 228 228 231;
  --color-zinc-300: 212 212 216;
  --color-zinc-400: 161 161 170;
  --color-zinc-500: 113 113 122;
  --color-zinc-600: 82 82 91;
  --color-zinc-700: 63 63 70;
  --color-zinc-800: 39 39 42;
  --color-zinc-900: 24 24 27;
  --color-zinc-950: 9 9 11;
  --color-zinc-contrast: 24 24 27;

  --color-neutral-50: 250 250 250;
  --color-neutral-100: 245 245 245;
  --color-neutral-200: 229 229 229;
  --color-neutral-300: 212 212 212;
  --color-neutral-400: 163 163 163;
  --color-neutral-500: 115 115 115;
  --color-neutral-600: 82 82 82;
  --color-neutral-700: 64 64 64;
  --color-neutral-800: 38 38 38;
  --color-neutral-900: 23 23 23;
  --color-neutral-950: 10 10 10;
  --color-neutral-contrast: 23 23 23;

  --color-stone-50: 250 250 249;
  --color-stone-100: 245 245 244;
  --color-stone-200: 231 229 228;
  --color-stone-300: 214 211 209;
  --color-stone-400: 168 162 158;
  --color-stone-500: 120 113 108;
  --color-stone-600: 87 83 78;
  --color-stone-700: 68 64 60;
  --color-stone-800: 41 37 36;
  --color-stone-900: 28 25 23;
  --color-stone-950: 12 10 9;
  --color-stone-contrast: 28 25 23;

  --color-red-50: 254 242 242;
  --color-red-100: 254 226 226;
  --color-red-200: 254 202 202;
  --color-red-300: 252 165 165;
  --color-red-400: 248 113 113;
  --color-red-500: 239 68 68;
  --color-red-600: 220 38 38;
  --color-red-700: 185 28 28;
  --color-red-800: 153 27 27;
  --color-red-900: 127 29 29;
  --color-red-950: 69 10 10;
  --color-red-contrast: 255 255 255;

  --color-orange-50: 255 247 237;
  --color-orange-100: 255 237 213;
  --color-orange-200: 254 215 170;
  --color-orange-300: 253 186 116;
  --color-orange-400: 251 146 60;
  --color-orange-500: 249 115 22;
  --color-orange-600: 234 88 12;
  --color-orange-700: 194 65 12;
  --color-orange-800: 154 52 18;
  --color-orange-900: 124 45 18;
  --color-orange-950: 67 20 7;
  --color-orange-contrast: 255 255 255;

  --color-amber-50: 255 251 235;
  --color-amber-100: 254 243 199;
  --color-amber-200: 253 230 138;
  --color-amber-300: 252 211 77;
  --color-amber-400: 251 191 36;
  --color-amber-500: 245 158 11;
  --color-amber-600: 217 119 6;
  --color-amber-700: 180 83 9;
  --color-amber-800: 146 64 14;
  --color-amber-900: 120 53 15;
  --color-amber-950: 69 26 3;
  --color-amber-contrast: 255 255 255;

  --color-yellow-50: 254 252 232;
  --color-yellow-100: 254 249 195;
  --color-yellow-200: 254 240 138;
  --color-yellow-300: 253 224 71;
  --color-yellow-400: 250 204 21;
  --color-yellow-500: 234 179 8;
  --color-yellow-600: 202 138 4;
  --color-yellow-700: 161 98 7;
  --color-yellow-800: 133 77 14;
  --color-yellow-900: 113 63 18;
  --color-yellow-950: 66 32 6;
  --color-yellow-contrast: 255 255 255;

  --color-lime-50: 247 254 231;
  --color-lime-100: 236 252 203;
  --color-lime-200: 217 249 157;
  --color-lime-300: 190 242 100;
  --color-lime-400: 163 230 53;
  --color-lime-500: 132 204 22;
  --color-lime-600: 101 163 13;
  --color-lime-700: 77 124 15;
  --color-lime-800: 63 98 18;
  --color-lime-900: 54 83 20;
  --color-lime-950: 26 46 5;
  --color-lime-contrast: 255 255 255;

  --color-green-50: 240 253 244;
  --color-green-100: 220 252 231;
  --color-green-200: 187 247 208;
  --color-green-300: 134 239 172;
  --color-green-400: 74 222 128;
  --color-green-500: 34 197 94;
  --color-green-600: 22 163 74;
  --color-green-700: 21 128 61;
  --color-green-800: 22 101 52;
  --color-green-900: 20 83 45;
  --color-green-950: 5 46 22;
  --color-green-contrast: 255 255 255;

  --color-emerald-50: 236 253 245;
  --color-emerald-100: 209 250 229;
  --color-emerald-200: 167 243 208;
  --color-emerald-300: 110 231 183;
  --color-emerald-400: 52 211 153;
  --color-emerald-500: 16 185 129;
  --color-emerald-600: 5 150 105;
  --color-emerald-700: 4 120 87;
  --color-emerald-800: 6 95 70;
  --color-emerald-900: 6 78 59;
  --color-emerald-950: 2 44 34;
  --color-emerald-contrast: 255 255 255;

  --color-teal-50: 240 253 250;
  --color-teal-100: 204 251 241;
  --color-teal-200: 153 246 228;
  --color-teal-300: 94 234 212;
  --color-teal-400: 45 212 191;
  --color-teal-500: 20 184 166;
  --color-teal-600: 13 148 136;
  --color-teal-700: 15 118 110;
  --color-teal-800: 17 94 89;
  --color-teal-900: 19 78 74;
  --color-teal-950: 4 47 46;
  --color-teal-contrast: 255 255 255;

  --color-cyan-50: 236 254 255;
  --color-cyan-100: 207 250 254;
  --color-cyan-200: 165 243 252;
  --color-cyan-300: 103 232 249;
  --color-cyan-400: 34 211 238;
  --color-cyan-500: 6 182 212;
  --color-cyan-600: 8 145 178;
  --color-cyan-700: 14 116 144;
  --color-cyan-800: 21 94 117;
  --color-cyan-900: 22 78 99;
  --color-cyan-950: 8 51 68;
  --color-cyan-contrast: 255 255 255;

  --color-sky-50: 240 249 255;
  --color-sky-100: 224 242 254;
  --color-sky-200: 186 230 253;
  --color-sky-300: 125 211 252;
  --color-sky-400: 56 189 248;
  --color-sky-500: 14 165 233;
  --color-sky-600: 2 132 199;
  --color-sky-700: 3 105 161;
  --color-sky-800: 7 89 133;
  --color-sky-900: 12 74 110;
  --color-sky-950: 8 47 73;
  --color-sky-contrast: 255 255 255;

  --color-blue-50: 239 246 255;
  --color-blue-100: 219 234 254;
  --color-blue-200: 191 219 254;
  --color-blue-300: 147 197 253;
  --color-blue-400: 96 165 250;
  --color-blue-500: 59 130 246;
  --color-blue-600: 37 99 235;
  --color-blue-700: 29 78 216;
  --color-blue-800: 30 64 175;
  --color-blue-900: 30 58 138;
  --color-blue-950: 23 37 84;
  --color-blue-contrast: 255 255 255;

  --color-indigo-50: 238 242 255;
  --color-indigo-100: 224 231 255;
  --color-indigo-200: 199 210 254;
  --color-indigo-300: 165 180 252;
  --color-indigo-400: 129 140 248;
  --color-indigo-500: 99 102 241;
  --color-indigo-600: 79 70 229;
  --color-indigo-700: 67 56 202;
  --color-indigo-800: 55 48 163;
  --color-indigo-900: 49 46 129;
  --color-indigo-950: 30 27 75;
  --color-indigo-contrast: 255 255 255;

  --color-violet-50: 245 243 255;
  --color-violet-100: 237 233 254;
  --color-violet-200: 221 214 254;
  --color-violet-300: 196 181 253;
  --color-violet-400: 167 139 250;
  --color-violet-500: 139 92 246;
  --color-violet-600: 124 58 237;
  --color-violet-700: 109 40 217;
  --color-violet-800: 91 33 182;
  --color-violet-900: 76 29 149;
  --color-violet-950: 46 16 101;
  --color-violet-contrast: 255 255 255;

  --color-purple-50: 250 245 255;
  --color-purple-100: 243 232 255;
  --color-purple-200: 233 213 255;
  --color-purple-300: 216 180 254;
  --color-purple-400: 192 132 252;
  --color-purple-500: 168 85 247;
  --color-purple-600: 147 51 234;
  --color-purple-700: 126 34 206;
  --color-purple-800: 107 33 168;
  --color-purple-900: 88 28 135;
  --color-purple-950: 59 7 100;
  --color-purple-contrast: 255 255 255;

  --color-fuchsia-50: 253 244 255;
  --color-fuchsia-100: 250 232 255;
  --color-fuchsia-200: 245 208 254;
  --color-fuchsia-300: 240 171 252;
  --color-fuchsia-400: 232 121 249;
  --color-fuchsia-500: 217 70 239;
  --color-fuchsia-600: 192 38 211;
  --color-fuchsia-700: 162 28 175;
  --color-fuchsia-800: 134 25 143;
  --color-fuchsia-900: 112 26 117;
  --color-fuchsia-950: 74 4 78;
  --color-fuchsia-contrast: 255 255 255;

  --color-pink-50: 253 242 248;
  --color-pink-100: 252 231 243;
  --color-pink-200: 251 207 232;
  --color-pink-300: 249 168 212;
  --color-pink-400: 244 114 182;
  --color-pink-500: 236 72 153;
  --color-pink-600: 219 39 119;
  --color-pink-700: 190 24 93;
  --color-pink-800: 157 23 77;
  --color-pink-900: 131 24 67;
  --color-pink-950: 80 7 36;
  --color-pink-contrast: 255 255 255;

  --color-rose-50: 255 241 242;
  --color-rose-100: 255 228 230;
  --color-rose-200: 254 205 211;
  --color-rose-300: 253 164 175;
  --color-rose-400: 251 113 133;
  --color-rose-500: 244 63 94;
  --color-rose-600: 225 29 72;
  --color-rose-700: 190 18 60;
  --color-rose-800: 159 18 57;
  --color-rose-900: 136 19 55;
  --color-rose-950: 76 5 25;
  --color-rose-contrast: 255 255 255;

  --color-polynesianblue-50: 239 247 255;
  --color-polynesianblue-100: 222 237 255;
  --color-polynesianblue-200: 182 220 255;
  --color-polynesianblue-300: 118 193 255;
  --color-polynesianblue-400: 45 163 255;
  --color-polynesianblue-500: 2 135 245;
  --color-polynesianblue-600: 0 105 210;
  --color-polynesianblue-700: 0 84 170;
  --color-polynesianblue-900: 7 59 115;
  --color-polynesianblue-950: 4 37 77;
  --color-polynesianblue-contrast: 255 255 255;
}

html[data-theme='logistic'] {
  --color-primary-50: 252 231 253;
  --color-primary-100: 224 187 225;
  --color-primary-200: 194 142 197;
  --color-primary-300: 164 97 169;
  --color-primary-400: 134 52 141;
  --color-primary-500: 104 7 113;
  --color-primary-600: 86 6 96;
  --color-primary-700: 70 5 78;
  --color-primary-800: 54 4 60;
  --color-primary-900: 38 3 42;
  --color-primary-950: 22 2 24;
}

html[data-theme='rabies'] {
  --color-primary-50: 242 229 255;
  --color-primary-100: 241 225 255;
  --color-primary-200: 239 222 255;
  --color-primary-300: 237 219 255;
  --color-primary-400: 235 216 255;
  --color-primary-500: 233 213 255;
  --color-primary-600: 188 172 210;
  --color-primary-700: 144 129 164;
  --color-primary-800: 100 86 118;
  --color-primary-900: 56 43 72;
  --color-primary-950: 12 0 26;
}

html[data-theme='malaria'] {
  --color-primary-50: 251 233 233;
  --color-primary-100: 244 194 194;
  --color-primary-200: 238 155 155;
  --color-primary-300: 232 116 116;
  --color-primary-400: 226 77 77;
  --color-primary-500: 220 38 38;
  --color-primary-600: 182 32 32;
  --color-primary-700: 142 25 25;
  --color-primary-800: 102 18 18;
  --color-primary-900: 62 11 11;
  --color-primary-950: 22 4 4;
}

html[data-theme='hiv'] {
  --color-primary-50: 251 233 241;
  --color-primary-100: 243 195 215;
  --color-primary-200: 237 156 191;
  --color-primary-300: 231 117 167;
  --color-primary-400: 225 78 143;
  --color-primary-500: 219 39 119;
  --color-primary-600: 178 32 96;
  --color-primary-700: 139 25 75;
  --color-primary-800: 100 18 54;
  --color-primary-900: 61 11 33;
  --color-primary-950: 22 4 12;
}

html[data-theme='waste-management'] {
  --color-primary-50: 224 247 242;
  --color-primary-100: 178 227 212;
  --color-primary-200: 132 207 182;
  --color-primary-300: 87 187 152;
  --color-primary-400: 41 167 122;
  --color-primary-500: 6 128 91;
  --color-primary-600: 5 109 78;
  --color-primary-700: 4 90 65;
  --color-primary-800: 3 71 52;
  --color-primary-900: 2 52 39;
  --color-primary-950: 1 33 26;
}
